@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
   min-height: 100vh;
   margin: 0 auto;
}

li {
   list-style-type: none;
}

.hiddenScrollbar::-webkit-scrollbar {
   @apply hidden;
}

.slider {
   @apply w-full h-[4px] appearance-none bg-gray-outline rounded-full outline-none cursor-pointer;
}

.slider::-webkit-slider-thumb {
   box-shadow: 0 0 0 6px white, 0 0 0 8px #9564d4;
   @apply appearance-none w-[7px] h-[7px] bg-accent rounded-full cursor-pointer;
}
